*,
*:after,
*:before {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin: 0;
    user-select: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #666;
    -webkit-font-smoothing: antialiased;
    transition: all 0.3s ease;
}

.logo {
    margin-top: 8em;
    height: 10em;
}

.container {
    position: relative;
}

.left-container,
.right-container {
    display: block;
}

.left-container {
    border-right: 2px solid gainsboro;
    height: 100%;
    width: 20em;
    position: fixed;
}

.right-container {
    background-color: #f7f7f7;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 20em;
    overflow: auto;
    border-right: 1px solid #f4f4f4;
}

.menu-item {
    padding: 1em 3em;
    cursor: pointer;
    width: 12em;
}

.menu-item:hover {
    color: rebeccapurple;
}

.topbar {
    background: white;
    box-shadow: 11px 1px 12px #8e8b8b;
    position: fixed;
    left: 20em;
    right: 0;
    text-align: right;
}

.manager {
    padding: 20px;
    font-size: 16px;
    font-weight: 800;
    display: inline-block;
}

.content {
    margin-top: 1em;
    text-align: center;
}

.card {
    background: white;
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    display: inline-block;
    padding: 3em 3em;
    margin: 2em;
    cursor: pointer;
    width: 10em;
    height: 4.5em;
    transition: all .15s ease-in-out;
}

.card:hover {
    background-color: #f4f4f4;
    color: #576f9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
}

.card-main {
    text-align: center;
    color: #333333;
    font-weight: 700;
    margin: 0;
    font-size: 18px;
    transition: all .5s ease-in-out;
}

.card:hover .card-main {
    color: #576f9c;
}

.card-dets {
    font-size: 15px;
}

.card.small {
    background: white;
    border-radius: 8px;
    display: inline-block;
    padding: .4em 0em;
    margin: 4px;
    cursor: pointer;
    width: 10em;
    height: 1.5em;
    transition: all .15s ease-in-out;
}

.card.small .card-main {
    font-size: 16px;
    transition: all .25s ease-in-out;
    font-weight: normal;
    color: #666;
}

.card.small .card-dets {
    display: none;
}

a {
    text-decoration: none;
    padding: 5px;
    font-size: 13px;
}

.menu-item a {
    color: inherit;
    background-color: initial;
    padding: unset;
    font-size: initial;
    border: none;
    vertical-align: unset;
    border-radius: unset;
}

.menu-item,
.menu-item a {
    font-size: 16px;
}

.menu-item a:hover {
    background-color: unset;
    color: inherit
}

a:hover {
    background-color: #007480;
    color: #fff;
}

a.delete {
    background-color: rgba(255, 0, 0, .55);
    color: white;
    overflow: hidden;
}

a.delete:hover {
    background-color: rgba(255, 0, 0, .75);
}

.d-title {
    font-size: 18px;
    font-weight: bolder;
}
.inf {
    margin-right: 20px;
    display: inline-block;
}
.d-child {
    font-size: 20px;
}

table,
td,
th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    width: max-content;
}

tr td:nth-of-type(1) {
    border-right: 1px solid #f0f0f0;
}

thead tr:nth-of-type(1) {
    border-bottom: 1px solid #f0f0f0;
}

table {
    margin: 4px 0;
    border: 1px solid #f0f0f0;
    display: inline-block;
}

thead {
    background-color: white;
}

thead th {
    padding: 10px;
}

tbody {
    background-color: #eaeaea;
}

tbody tr:hover {
    background-color: white;
    transition: .15s ease-in-out;
}

td {
    padding: 8px;
    max-width: 18em;
}

td:nth-of-type(1) {
    background: white;
}

tr:nth-child(even) {
    background: #f9f9f9;
}

.link {
    margin-right: 0;
}

input,
select,
textarea,
option {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid grey;
    outline: none;
    display: inline-block;
    margin: 4px;
    font-family: calibri;
    outline: none;
}

textarea {
    resize: none;
}

form {
    margin: 4px;
    text-align: start;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #f0f0f0;
    display: inline-block;
}

form.reciept,
form.products-rec {
    margin: 1em 3em;
    display: inline-block;
    width: 24rem;
    vertical-align: top
}

form.reciept .form-body,
form.products-rec .form-body {
    max-height: 25em;
    overflow: auto;
}

.form-body {
    padding: .8em;
}

.form-head {
    text-align: center;
    color: #777;
    font-weight: 700;
    background: #f1f1f1;
    padding: 0.8em;
    /* border-radius: .5em; */
    margin-bottom: 1em;
}

input[type=submit] {
    color: white;
    background-color: #007bfa;
    cursor: pointer;
    margin-left: 6em;
    margin-bottom: 2em;
    border: none;
}

input[type=submit]:hover {
    background-color: #005bfa;
    box-shadow: 0px 5px 7px gainsboro;
}

form label {
    width: 8em;
    overflow: hidden;
    display: inline-block;
    margin-left: 0em;
}

form .details,
form .quantity,
form .prices {
    border-bottom: 1px solid gainsboro;
    padding: 8px;
    cursor: pointer;
}

form .details-body,
form .quantity-body,
form .prices-body {
    display: none;
    margin-top: 8px;
    padding-left: 1em;
}

img {
    padding-top: 3em;
    padding-left: 1em;
    height: 70px;
}

input.search {
    margin-bottom: 1em;
    width: 100%;
}

.rem,
.set {
    margin-right: unset;
    font-family: sans-serif;
    font-size: 12px;
    background: white;
    margin: 5px 2.5px;
    background: blue;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: bolder;
    width: auto;
    vertical-align: sub;
}

.add-subtract {
    background-color: red;
    cursor: pointer;
    font-family: 'Segoe UI';
    font-weight: 900;
    width: 10px;
    text-align: center;
    display: none;
}

.add-subtract.adder {
    background-color: #439643;
}

.add-subtract.adder:hover {
    background-color: #43a743;
}

.add-subtract.subtracter {
    background-color: #b95b5b;
}

.add-subtract.subracter:hover {
    background-color: #6f5b56;
}

.add_to_product,
a.remove_from_products {
    float: right;
    font-weight: bolder
}

a.remove_from_products {
    font-weight: 800;
}

a.remove_from_products:hover {
    background: #ff00009e;
    color: white;
}

.product-search:nth-child(odd) {
    background-color: gainsboro;
}

.error {
    color: red;
}

.loading {
    position: absolute;
    display: block;
    right: 0;
    top: 1rem;
    text-align: center;
    left: 0;
    font-family: Calibri;
}

.notification-body {
    overflow: hidden;
}

form.expiry {
    width: unset;
    border: none;
}

form.expiry input {
    width: 155px;
    margin: 4px;
}

form.expiry .form-head {
    background: white;
    padding: 4px;
    font-size: 13px;
    margin-bottom: 0;
}

.notification {
    display: none;
    position: absolute;
    bottom: 2em;
    width: 15em;
    right: 0;
    margin: 1em;
    background: white;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
}

@media only screen and (max-width: 968px) {
    .card {
        display: block;
        width: unset;
        margin: 0;
        height: auto;
        padding: .5em 1em;
        border: none;
        border-radius: 1px;
    }
    .menu-item {
        width: unset;
        text-align: center;
        background: #1f59BB;
        COLOR: WHITE;
        font-weight: bolder;
    }
    .menu-item:hover {
        color: white;
        background-color: #1fa8BB
    }
    .manager {
        padding: 0px;
    }
    img {
        padding-top: 0;
        padding-left: 0;
    }

    .card.small {
        border-radius: 0;
        border: none;
        padding: 1em;
        margin: 0;
        width: unset;
        height: auto;
    }

    form {
        width: unset;
    }

    .content {
        background-color: white;
    }
    .card-main {
        text-align: start;
    }
    .card-main {
        font-weight: 400;
        font-size: 15px;
    }
    .card-dets {
        display: none;
    }
    .left-container {
        position: initial;
        width: unset;
        border: none;
        height: auto;
        text-align: center;
    }
    .right-container {
        position: initial;
        width: unset;
        height: auto;
    }
    table {
        margin: 4px 1em;
    }
    .logo {
        margin-top: unset;
        height: unset;
    }
    .notification {
        position: unset;
        bottom: unset;
        width: unset;
        right: unset;
        border-radius: 0;
    }
    form.reciept,
    form.products-rec {
        margin: 0;
        display: block;
        width: unset;
    }

}